* {
  padding: 0;
  margin: 0;
  

}
 body{
  background: #1a2fa8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tenis{ 
 width: 100%;
 height: 60px;
 text-align: center;
 display : flex;
 justify-content : center;
 align-items : center;
 margin: 10px;
}

.title{
 height: 40px;
 width: 90%;
 color: white;
 font-family: 'Righteous', cursive; 
}

.container{
  display:flex;
  width: 80%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px 5px white ; 
  margin: 10px;
  align-items: center;
  justify-content: center;
  margin:auto;

}

.sectionIzq{
  width: 50%;
  height: 450px;
  box-sizing: content-box;
  border: 4px solid white;
  margin-right:  .5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bienvenida{
  display: flex;
  background: #205375;  
  width: 100%;
  height: 96px;
   border-bottom: 4px solid white;
}

.texto{
  display: flex;
  margin: auto;
  color: white;
  height: 100px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.reglasYProductos {
  display: flex;
  height:250px;
  width: 100%;
}

.img{
  display: flex;
  width: 40%;
  height: 100%; 
  overflow: hidden; 
  position: relative;

}

.productos{
  background: #205375;
  width: 98.5%;
  height: 48.5%;
  border-bottom: 4px solid white;
  border-left: 4px white solid;
  
}

.product{
  display: flex;
  text-align: center;
  height: 98%;
  width: 99%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
}

.reglas{
  display: inline-block;
  width: 99%;
  height: 50%;
}

.aprende{
  background-image: url("assets/tenis.jpg");
  width: 99.5%;
  height: 100%;
  background-size: cover;
  border-left: 4px white solid;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoaprende{
  color: white;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}
 
.medio{
  width: 60%;
}

.reserva{
  background: #205375;  
  width: 100%;
  height: 100px;
}

.reser{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  border-top: 4px solid white;
}

.raqueta{
  width: 20px;
  height: 20px;
  margin: 10px;
  
}

.sectionDer{
  background: white;
  width: 50%;
  height: 450px;
  box-sizing: content-box;
  border: 4px solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: .5px;
}

.horario{
  display: flex;
  background: #205375;
  width: 100%;
  height: 96px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-bottom: 4px solid white;
}

.imagenyresultado{ 
  display: flex; 
  height:250px;
  width: 100%;
}

.dos{
  width: 60%;
  background-color:#205375;
}

.resultado{
background: #205375;
height: 48.5%;
color: aliceblue;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
border-bottom: 4px white solid;
}

.contentTable{
width: 90%;
}

table{
margin-top: 6px;
width: 100%;
background: white;
}

td:first-child {
text-align: left;
}

.tablet{
border-collapse: collapse;
}

.Nombre{
text-align: left;
}

.tablet th{
  background: #0289f8;
  border-collapse: separate; 
}

 table td {
  color: #0697f8;
}

tr:hover {background: rgb(7, 2, 78) 
}

.ubicacion{
background: #205375;  
width: 100%;
height: 100px;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
}

.final{
height: 100%;
width: 100%;
margin: auto;
}

.textoUbicacion{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 96%;
  width: 100%;
  color: #ffff;
  background-image: url(assets/tenis5.jpg);
  background-size: cover;
  border-top: 4px solid white; 
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 19px;
}

.imagen{
  display: flex;
  background: #0697f8;
  height: 100%;
  width: 40%;
  justify-content: center;
  align-items: center; 
}

.img2{
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-left: 4px white solid;
}

img{
  width: 100%;
  height: 100%;
  transition: all .3s;
}

.entrada{
  background-color:#205375 ;
  width: 100%;
  height: 50%;
  display:flex ;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 3s;
  /* transition-duration: 5s; */
  background-image:none;
}

.entrada:hover{
  background: #dfe3e6;
  background-image: url(assets/roger.jpg);
  background-size: cover;
  /* transition: all 5s; */
}


.blog{
  width: 100%;
  height: 50%;
  color: #ffff;
  text-align: center;
  margin-bottom: 15px;
}

  button{
background: transparent;
border: none;
width: 60px;
height: 50%;
color: rgb(25, 24, 99);
cursor: pointer;
text-decoration: underline;

}

.product:hover{
background-size: cover;
background-image: url(assets/tenis6.jpg);
height: 100%;
color: #000;
transition: all .4s;
}

.img2:hover img{
filter: blur(1.5px);
transform: scale(1.5);
transition: all .3s;
}

.img2::before{
content: "";
position: absolute ;
width: 100%;
height: 100%;
top: 0;
left: 0;
transition: all .3s;
}
   
.img2:hover:before{
background: rgba(0, 0, 0, .4);
z-index: 10;
transition: all .3s;
}

.info{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
color: #ffffff;
z-index: 12;
display: flex;
justify-content: center;
align-items: center;
}

.tituloInfo{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 100%;
  transition: all .3s;
  justify-content: center;
  align-items: center;
}

.img2:hover .tituloInfo{
left: 0;
animation-delay: .3s;
transition: all .3s;
}
 

.horario:hover{
  background: rgba(24, 71, 100, 0.795); 
}


.textoUbicacion:hover{
  opacity: .7;
}

.aprende:hover{
 opacity: .9;
}


.reserva:hover{
  filter: contrast(150%);
}

.img:hover img{
  filter: blur(1.5px);
  transform: scaleX(1.5);
  transition: all .3s;
}

.img::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .3s;
}
.img:hover:before{
  background: rgba(0,0,0,.4);
  z-index: 2;
  transition: all .3s;
}
 

.textoImg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.textoTitulo{
  
}

.textoTitulo{
  position: relative;
  left: 100%;
}

.img:hover .textoTitulo{
  left: 0;
  transition: all .3s;
  animation-delay: .3s;
}
 
.reserva:hover .raqueta{
animation: bounce1 .5s alternate infinite ease-in;
}



@keyframes bounce1{
  0%{
     transform: translateY(-180%)
  }

  100%{
    transform: translateY(0%)
  }
}
