* {
  padding: 0;
  margin: 0;
}
body {
  background:rgba(0,123,201,255);
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenido {
  display: flex;
  justify-content: center;
  width: 80%;
  min-height: 400px;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow:  -10px 10px 10px 5px white;
  background: #014a75;
}

.izq {
  width: 50%;
  border: 2px solid white;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.der {
  width: 50%;
  text-align: center;
  margin-left: 3px;
  border: 2px solid white;
}

.contenidoDer{
  display: flex;
}

.sectionoOne{
  height: 260px;
  width: 63%;
  border: 1px solid yellow;
}

.parteLef{
  height: 50%;
}

.bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid white;
}

.productGlobal {
  width: 100%;
  height: 50%;
  display: block;
  
}



.products {
  display: flex;
}

.titleProduct {
  width: 100%;
  height: 120px;
  border: 1 px solid white;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.imagen{
  width: 100%;
  height: 100%;
  opacity: .8;
}
.ruleTenis h4{
  color: white;
  font-size: bold;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.ruleTenis {
  width: 100%;
  height: 120px;
  border: 1px solid white;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
 text-align: center;
  
}

.image {
  width: 200px;
  height: 244px;
}

.reservar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  height: 100px;
  border: 1px solid white;
}

.zapato {
  width: 20px;
  height: 20px;
}

.reservarText {
  padding-left: 30px;
  padding-right: 30px;
}

.title{
  margin-top: 3px;
  
}

.descriptionSchedule{
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
}

.containerTable {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  margin-top: 10px;
  width: 400px;
  background: rgb(83, 165, 219);
  border-collapse: collapse;
}

table td{
  padding: 5px;
  background: rgb(255, 253, 253);
  font-weight: bolder;
  color: rgb(83, 165, 219);
}

